# Compiler files
cache/
out/

# Foundry broadcast and logs
broadcast/
scratch/

# IDE
.vscode/

# Environment variables
.env
.env.*

# Node modules
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.DS_Store